/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ---------- STYLE ---------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@font-face {
	font-family: "Quantum";
	src: local("Quantum"), url(./fonts/Quantum.woff) format("woff");
}

html,
body,
#root,
#app,
.home {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.html-body {
	font-size: 1.5rem;
	height: 100%;
	overflow-y: hidden;
}

/* ---------- NAVBAR ---------- */

.nav-bar {
	color: white;
	background-color: rgb(1, 3, 39);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2.25rem 3rem 2.25rem 3rem;
	gap: 5vw;
}

.nav-bar-logo {
	color: white;
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 0%;
	letter-spacing: 0.618rem;
	margin-top: 0.5rem;
	font-family: "Quantum", sans-serif;
	transform: scaleY(1.2);
}

.nav-bar-logo-green {
	transform: translate(-2%, 0);
	color: rgba(255, 255, 255, 0);
	/* border: 1px solid #2EE09A; */
	-webkit-text-stroke: 0.25px #2ee09a;
}

.nav-bar-logo-red {
	transform: translate(2%, 0);
	color: rgba(255, 255, 255, 0);
	/* border: 1px solid #2EE09A; */
	-webkit-text-stroke: 0.25px #ef84f5;
}

.nav-bar-link {
	color: white;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 0%;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

.nav-bar-line {
	width: 100%;
	height: 0.15rem;
	background-color: white;
}

.nav-bar-exit {
	margin-left: auto;
	color: white;
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 0%;
	letter-spacing: 0.1rem;
	cursor: pointer;
	white-space: nowrap;
	cursor: pointer;
}

/* ---------- SCROLLING-LAYER ---------- */

.fade-in {
	animation: fadeIn linear 2.5s;
	-webkit-animation: fadeIn linear 2.5s;
	-moz-animation: fadeIn linear 2.5s;
	-o-animation: fadeIn linear 2.5s;
	-ms-animation: fadeIn linear 2.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.title {
	position: relative;
	color: white;
	font-size: 5rem;
	font-weight: 700;
	letter-spacing: 0.618rem;
	font-family: "Quantum", sans-serif;
	transform: scaleY(1.2);
	white-space: nowrap;
}

.title-green {
	position: absolute;
	top: 0;
	transform: translate(-7.5px, 0);
	color: rgba(255, 255, 255, 0);
	/* border: 1px solid #2EE09A; */
	-webkit-text-stroke: 0.25px #2ee09a;
}

.title-red {
	position: absolute;
	top: 0;
	transform: translate(7.5px, 0);
	color: rgba(255, 255, 255, 0);
	/* border: 1px solid #2EE09A; */
	-webkit-text-stroke: 0.25px #ef84f5;
}

.welcome {
	position: absolute;
	top: 65vh;
	left: 50vw;
	white-space: nowrap;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translate(-50%, 0);
}

.left-of-bear {
	position: absolute;
	width: 40vw;
	top: 40vh;
	left: 10vw;
	color: white;
}

.right-of-geisel {
	position: absolute;
	width: 40vw;
	top: 110vh;
	left: 50vw;
	color: white;
}

.before-atkinson {
	position: absolute;
	width: 40vw;
	top: 180vh;
	left: 50vw;
	color: white;
	transform: translate(-50%, 0);
}

.at-atkinson-left {
	position: absolute;
	width: 20vw;
	top: 250vh;
	left: 20vw;
	color: white;
	transform: translate(-50%, 0);
}

.at-atkinson-right {
	position: absolute;
	width: 20vw;
	top: 250vh;
	left: 80vw;
	color: white;
	transform: translate(-50%, 0);
}

.before-icons {
	position: absolute;
	width: 40vw;
	top: 290vh;
	left: 50vw;
	color: white;
	transform: translate(-50%, 0);
}

.at-icons-left {
	position: absolute;
	width: 20vw;
	top: 350vh;
	left: 20vw;
	color: white;
	transform: translate(-50%, 0);
}

.at-icons-right {
	position: absolute;
	width: 20vw;
	top: 350vh;
	left: 80vw;
	color: white;
	transform: translate(-50%, 0);
}

.at-suncave {
	position: absolute;
	top: 475vh;
	left: 50vw;
	color: white;
	white-space: nowrap;
	cursor: pointer;
	transform: translate(-50%, -50%);
}
